#{extends 'main.html' /}
#{set title:'My Blog' /}
#{set description: 'If I feel like writing anything I will write in this section ,sorry guys I am bit greedy on this section.' /}
#{set 'moreScripts'}
 #{googleAnalytics /}
#{/set}
<div class="sectionheading">My Blog</div>
 #{if session.get("userid")}
        #{if 1==session.get("userid").toLong() }
 #{writeNewMyBlog /}
  #{/if}
        #{/if}
 <hr class="horizontalline"/>
 #{if frontPost}
    #{myBlogFrontPost post:frontPost /}
<!--comment section -->
<hr class="horizontalline"/>
#{myBlogCommentsUI post:frontPost /}
 <hr class="horizontalline"/>
<h3 class="simpleheadings">Post a comment</h3>

#{form @MyBlog.postComment(frontPost.id)}
#{ifErrors}
        <p class="error">
            All fields are required!
        </p>
    #{/ifErrors}
    <p>
        <label for="author">Your name: </label>
        <input type="text" name="author" id="author" value="${flash.author}"/>
    </p>
    <p>
        <label for="content">Your message: </label>
        <textarea name="content" id="content">${flash.content}</textarea>
    </p>
    <p>
        <input class="submit" type="submit" value="Submit your comment" />
    </p>
#{/form}
<hr class="horizontalline"/>
<!--old posts section  -->
    #{if olderPosts}
        <div class="older-posts">    
            <h3>Recent Posts</h3>
        
            #{list items:olderPosts, as:'oldPost'}
                <div class="post">
                    <h2 class="post-title">
                        <a href="@{MyBlog.myBlog(oldPost.id)}">${oldPost.title}</a>
                        %{lastPost=oldPost}%
                    </h2>
                     #{oldPostUiWithoutTitle post:oldPost /}
                </div>
            #{/list}
        </div>
    #{/if}
    
    <div>
    
     #{if olderPosts}
     
          #{if lastPost.previous()}
         <div class="paginatebutton">
         <a href="@{MyBlog.nextOldPosts(frontPost.id,lastPost.id)}"><span class="morePosts">Older Posts</span></a> 
         </div>
         #{/if}
         #{/if}
         
          #{if olderPosts}
     #{if olderPosts.first().next() && frontPost.id!=lastPost.id}
      <div class="paginatebutton">
         <a href="@{MyBlog.previousOldPosts(frontPost.id,lastPost.id)}"><span class="morePosts">Newer Posts</span></a> 
         </div>
         #{/if}
          #{/if}
         
       

</div>
#{/if}
 
#{else}
    <div class="empty">
        There is currently nothing to read here(user may have deleted this post in the current session just refresh the page and then try).
    </div>
#{/else}


