#{extends 'main.html' /}
#{set title:'Talk Fight' /}
#{set description: 'In this section we can debate on the topics posted by admin either for the topic or against the topic.' /}
#{set 'moreScripts'}
 <script type="text/javascript">

    var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35258249-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
#{/set}
<div class="sectionheading">Talk Fight</div>

<h3>This feature will be available soon</h3>