
#{extends 'main.html' /}
#{set title:'Advertise' /}
#{set description: 'advertise' /}
#{set 'moreScripts'}
  #{googleAnalytics /}
#{/set}
<style>
.doc p{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:medium;
	font-style: italic;
	font-weight:700;
    color: #00A2E8;
}

</style>
<div class="sectionheading">Advertisements</div>
<div class="bannerad">
#{Advertise/bannerAdWide /}
</div>
<div class="doc">
<p>To Advertise in Gutsytown mail us<br/> 
    Email : contact@gutsytown.com</p>
<br/>
</div>
