<style>
.doc p{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:medium;
	font-style: italic;
	font-weight:700;
    color: #00A2E8;
}


	.doc u{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-style: italic;
	font-size: large;
	color: black;
}
.head{
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-style: italic;
	font-size:40px;
	color: #00A2E8;
	margin: 10px;
}
.subhead{
      font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-style: italic;
	font-size:20px;
	color: black;
	margin: 30px;
	padding-left: 130px;
	font-weight: bolder;
}
</style>

<div class="head">Gutsytown ------ Indians Local Town</div><br />

<div class="doc">
<p>This is just a start of a GutsyTown where Indians can hangout.I have found out some topics which I feel interesting and included in this website but I can change them according to your valuable suggestions .Below is the outline of GutsyTown.</p>
<u>Indian Constitution</u><br/>
<p>I feel that so many of us dont know the basics of our constitutional structure ,you can go through some basics of our constitution within few minutes in this section.</p>
<u>Youth Revolution</u><br/>
<p>You can post your thoughts and some interesting topics related to the problems faced by our country like corruption,poverty ,politicians  etc etc in this section.</p>
<u>Talk Fight</u><br/>
<p>In this section we can debate on the topics posted by admin either for the topic or against the topic.</p>
<u>Sad Story</u><br/>
<p>In this section you can post sad incidents happened in your life or incidents which you have come across.</p>
<u>First Crush</u><br/>
<p>I think all of us have a beautiful experience of first crush in our lives which you can post on this section may be multiple crushes also LOL.</p>
<u>Love Story</u><br/>
<p>In this section you can post your love stories or love stories which you have come across.</p>
<u>Review Movies</u><br/>
<p>In this section you can review the movies which you have seen recently and also new releases.</p>
<u>My Blog</u><br/>
<p>If I feel like writing anything I will write in this section ,sorry guys I am bit greedy on this section.</p>
<u>Gutsy Polls</u>
<p>In this section there will be topics and options where you can cast your vote.</p>
<u style="color: red;">Gutsy Ranks</u>
<p>Points are awarded for each user depending upon the number of likes their own posts receive.</p>

<p style="color:red;">Please join hands with me to make this a success,you can leave out your comments here</p>
<p>Report bugs--<span style="color:red;">bugs@gutsytown.com</span></p>
</div>

