 
 <div id="leftcolumn">
             <div class="recentpost">Stars of GutsyTown</div> 
             
             <div class='headings'><span>Politics Star</span></div>
             <div class="recentpostholder">
             <div>${session.pstar}</div>
              <div>Politics Posts:${session.ppost}</div>
              </div>
              
             <div class='headings'>Decision Star</div>
              <div class="recentpostholder">
             <div>${session.dstar}</div>
              <div>Decision Posts:${session.dpost}</div>
               </div>
               
              <div class='headings'>Health Star</div>
               <div class="recentpostholder">
             <div>${session.hstar}</div>
              <div>Health Posts:${session.hpost}</div>
               </div>
             
               <div class='headings'>Food Star</div>
               <div class="recentpostholder">
            <div>${session.fstar}</div>
              <div>Food Posts:${session.fpost}</div>
               </div>
               
             <div class='headings'>Beauty Star</div>
              <div class="recentpostholder">
             <div>${session.bstar}</div>
              <div>Beauty Posts:${session.bpost}</div>
              </div>
             <div class='headings'>Money Star</div>
              <div class="recentpostholder">
            <div>${session.mstar}</div>
              <div>Money Posts:${session.mpost}</div>
               </div>
             <div class='headings'>Tech Star</div>
              <div class="recentpostholder">
            <div>${session.tstar}</div>
              <div>Tech Posts:${session.tpost}</div>
               </div>
             <div class='headings'>Sports Star</div>
              <div class="recentpostholder">
              <div>${session.sstar}</div>
              <div>Sports Posts:${session.spost}</div>
               </div>
               <div class='headings'>Job Star</div>
              <div class="recentpostholder">
             <div>${session.jstar}</div>
              <div>Job Posts:${session.jpost}</div>
               </div>
               
               <div class='headings'>Story Star</div>
              <div class="recentpostholder">
             <div>${session.ysstar}</div>
              <div>Story Posts:${session.yspost}</div>
               </div>
               
               <div class='headings'>Movie Star</div>
              <div class="recentpostholder">
             <div>${session.mrstar}</div>
              <div>Movie Posts:${session.mrpost}</div>
               </div>
               
              <div class='headings'>Auto Star</div>
              <div class="recentpostholder">
              <div>${session.astar}</div>
              <div>Auto Posts:${session.apost}</div>
              </div>
               
               <div class='headings'>Travel Star</div>
              <div class="recentpostholder">
             <div>${session.ytstar}</div>
              <div>Travel Posts:${session.ytpost}</div>
               </div>
               
     
       </div>