 <style>
.recentpostholder marquee{
color:#00A2E8;
text-decoration: underline;
}

 </style>
 
 <div id="leftcolumn">
             <div class="recentpost">Recent Posts</div> 
             <div class='headings'><span>Youth Revolution</span></div>
             <div class="recentpostholder">
             <div><a href="@{YouthRevolution.youthRevolution(session.youth1id)}"><marquee>${session.youth1}</marquee></a></div>
              <div> <a href="@{YouthRevolution.youthRevolution(session.youth2id)}"><marquee>${session.youth2}</marquee></a></div>
               </div>
             <div class='headings'>Talk Fight</div>
              <div class="recentpostholder">
             <div><a href='#'><marquee>test first post</marquee></a></div>
              <div> <a href='#'><marquee>test second post</marquee></a></div>
               </div>
              <div class='headings'>Your Sad Story</div>
               <div class="recentpostholder">
             <div><a href="@{SadStory.sadStory(session.sad1id)}"><marquee>${session.sad1}</marquee></a></div>
              <div> <a href="@{SadStory.sadStory(session.sad2id)}"><marquee>${session.sad2}</marquee></a></div>
               </div>
             
               <div class='headings'>Your First Crush </div>
                <div class="recentpostholder">
             <div><a href="@{FirstCrush.firstCrush(session.crush1id)}"><marquee>${session.crush1}</marquee></a></div>
              <div> <a href="@{FirstCrush.firstCrush(session.crush2id)}"><marquee>${session.crush2}</marquee></a></div>
               </div>
             <div class='headings'>Your Love Story</div>
              <div class="recentpostholder">
             <div><a href="@{LoveStory.loveStory(session.love1id)}"><marquee>${session.love1}</marquee></a></div>
              <div> <a href="@{LoveStory.loveStory(session.love2id)}"><marquee>${session.love2}</marquee></a></div>
               </div>
             <div class='headings'>Review Movies</div>
              <div class="recentpostholder">
             <div><a href="@{MovieReview.movieReview(session.mov1id)}"><marquee>${session.mov1}</marquee></a></div>
              <div> <a href="@{MovieReview.movieReview(session.mov2id)}"><marquee>${session.mov2}</marquee></a></div>
               </div>
             <div class='headings'>My Blog</div>
              <div class="recentpostholder">
             <div><a href="@{MyBlog.myBlog(session.my1id)}"><marquee>${session.my1}</marquee></a></div>
              <div> <a href="@{MyBlog.myBlog(session.my2id)}"><marquee>${session.my2}</marquee></a></div>
               </div>
       <div class='headings'>Gutsy Polls</div>
              <div class="recentpostholder">
             <div><a href='#'><marquee>test first post</marquee></a></div>
              <div> <a href='#'><marquee>test second post</marquee></a></div>
               </div>

       </div>