 <style>
.recentpostholder marquee{
color:#00A2E8;
text-decoration: underline;
}

 </style>
 
 <div id="leftcolumn">
             <div class="recentpost">Recent Posts</div> 
             <div class='headings'><span>Youth Revolution</span></div>
             <div class="recentpostholder">
             <div><a href="@{SadStory.sadStory(session.sad1id)}"><marquee>${session.sad1}</marquee></a></div>
              <div> <a href="@{SadStory.sadStory(session.sad2id)}"><marquee>${session.sad2}</marquee></a></div>
               </div>
             <div class='headings'>Talk Fight</div>
              <div class="recentpostholder">
             <div><a href='#'><marquee>first post</marquee></a></div>
              <div> <a href='#'><marquee>second post</marquee></a></div>
               </div>
              <div class='headings'>Your Sad Story</div>
               <div class="recentpostholder">
             <div><a href='#'><marquee>first post</marquee></a></div>
              <div> <a href='#'><marquee>second post</marquee></a></div>
               </div>
             
               <div class='headings'>Your First Crush </div>
                <div class="recentpostholder">
             <div><a href='#'><marquee>first post</marquee></a></div>
              <div> <a href='#'><marquee>second post</marquee></a></div>
               </div>
             <div class='headings'>Your Love Story</div>
              <div class="recentpostholder">
             <div><a href='#'><marquee>first post</marquee></a></div>
              <div> <a href='#'><marquee>second post</marquee></a></div>
               </div>
             <div class='headings'>Review Movies</div>
              <div class="recentpostholder">
             <div><a href='#'><marquee>first post</marquee></a></div>
              <div> <a href='#'><marquee>second post</marquee></a></div>
               </div>
             <div class='headings'>My Blog</div>
              <div class="recentpostholder">
             <div><a href='#'><marquee>first post</marquee></a></div>
              <div> <a href='#'><marquee>second post</marquee></a></div>
               </div>
       <div class='headings'>Gutsy Polls</div>
              <div class="recentpostholder">
             <div><a href='#'><marquee>first post</marquee></a></div>
              <div> <a href='#'><marquee>second post</marquee></a></div>
               </div>

       </div>