<style>
.shareButtons{
width: 90%;
height: 20px;
overflow: hidden;
padding: 2px;
}
.sharetext{

font-weight: bold;
color:#00A2E8;
	font-family: cursive;
	font-size: 15px;

}
</style>
<div class="shareButtons">
<!-- Lockerz Share BEGIN -->
<div class="a2a_kit a2a_default_style">
<a class="a2a_dd" href="http://www.addtoany.com/share_save">Share</a>
<span class="a2a_divider"></span>
<a class="a2a_button_facebook"></a>
<a class="a2a_button_twitter"></a>
<a class="a2a_button_email"></a>
<a class="a2a_button_aol_mail"></a>
<a class="a2a_button_delicious"></a>
<a class="a2a_button_google_plus"></a>
<a class="a2a_button_linkedin"></a>
<a class="a2a_button_yahoo_bookmarks"></a>
<a class="a2a_button_myspace"></a>
<a class="a2a_button_stumbleupon"></a>
</div>
<script type="text/javascript">
var a2a_config = a2a_config || {};
a2a_config.color_main = "D7E5ED";
a2a_config.color_border = "AECADB";
a2a_config.color_link_text = "333333";
a2a_config.color_link_text_hover = "333333";
</script>
<script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script>
<!-- Lockerz Share END -->
</div>


