<style>
.shareButtons{
width: 90%;
height: 35px;
overflow: hidden;
padding: 10px;
}
.sharetext{

font-weight: bold;
color:#00A2E8;
	font-family: cursive;
	font-size: 15px;

}
</style>
<div class="shareButtons">
<span class='sharetext'>Share This post On</span>
<span class='st_facebook_large' displayText='Facebook'></span>
<span class='st_twitter_large' displayText='Tweet'></span>
<span class='st_linkedin_large' displayText='LinkedIn'></span>
<span class='st_googleplus_large' displayText='Google +'></span>
<span class='st_myspace_large' displayText='MySpace'></span>
<span class='st_delicious_large' displayText='Delicious'></span>
<span class='st_stumbleupon_large' displayText='StumbleUpon'></span>
<span class='st_email_large' displayText='Email'></span>
</div>