<style>

.nav{
height: 30px;
width: 100%;
padding-bottom:2px;
display: block;
float: left;
background:white;
}
.nav ul{
    margin:0;
	padding:0px;
	width:100%;
	list-style-type:none;
	position:relative;
	display:block;
	width: 100%;
	margin-left:4%;
}
.nav li {
background:#FB8B0B;
list-style:none;
float:left;
display:block;
 margin-left: 10px;
  margin-right: 10px;
   margin-top: 2px;
    margin-bottom: 2px;
  -webkit-border-radius:20px;
 -moz-border-radius: 20px;
 
}
.nav li a {
text-decoration:none;
font-weight:bold;
color:black;
font-size:14px;
display:block;
float:left;
text-align:center;
padding:0px 4px 0px 4px;
font-family: cursive;
 -webkit-border-radius:20px;
 -moz-border-radius: 20px;
}

.nav li:nth-child(1) a {
background:#FF0000;
}
.nav li:nth-child(2) a {
background:#FFFF00;
}
.nav li:nth-child(3) a {
background:#FB8B0B;

}
.nav li:nth-child(4) a {
background:#16B60E;

}
.nav li:nth-child(5) a {
background-color:#FF0000;

}
.nav li:nth-child(6) a {
background:#FFFF00;

}
.nav li:nth-child(7) a {
background:#FB8B0B;

}
.nav li:nth-child(8) a {
background:#16B60E;

}
.nav li:nth-child(9) a {
background:#FF0000;

}
.nav li:nth-child(10) a {
background-color:#FFFF00;

}
.nav li:nth-child(11) a {
background:#FB8B0B;

}
.nav li:nth-child(12) a {
background:#16B60E;

}
.nav li:nth-child(13) a {
background:#FF0000;

}
.nav li:nth-child(14) a {
background:#FFFF00;
}

.nav li a:hover {
 -webkit-border-radius:0px;
 -moz-border-radius: 0px;
 padding:4px 4px 0px 4px;
}

</style>

<div class="nav">
<ul>
	<li><a href="#">Politics</a></li>
	<li><a href="#">Gutsy Decision</a></li>
	<li><a href="#">Health Tips</a></li>
	<li><a href="#">Indian Food</a></li>
	<li><a href="#">Beauty Tips</a></li>
	<li><a href="#">Money</a></li>
	<li><a href="#">Tech</a></li>
	<li><a href="#">Sports</a></li>
	<li><a href="#">Jobs</a></li>
	<li><a href="#">Your Story</a></li>
	<li><a href="#">Movies</a></li>
	<li><a href="#">Auto</a></li>
	<li><a href="#">Your Travel</a></li>
	<li><a href="#">Gutsy Polls</a></li>
</ul>
</div>
