#{extends 'main.html' /}
#{set title:'Gutsy Polls' /}
#{set description: 'In this section there will be topics and options where you can cast your vote.' /}
#{set 'moreScripts'}
  #{googleAnalytics /}
#{/set}
<style>
.hed{
font-style:normal;
color:#000080;
}
.heda{
color:#FF0000;
}
.he{
color:#FF0000;
}
.titles{
font-family:sans-serif;
	width:100%;
	float:left;
	color:#000080;
	padding:1px 1px 1px 1px;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
}
.chief{
font-family:sans-serif;
	width:100%;
	float:left;
	color:#32CD32;
	padding:1px 1px 1px 1px;
	text-align: left;
	font-size: 14px;
	font-weight: bold;
}
.notice{
color: blue;
font-weight: bold;
}


</style>
<div class="sectionheading">Gutsy Polls</div>
<div class="bannerad">
#{Advertise/bannerAdWide /}
</div>
<p>
<h2 class="heda">Karnataka Assembly Election 2013 Survey Going On in GutsyTown</h2>
<h3 class="hed">Please Vote For Your Assembly Constituency and Participate In Karnataka Assembly Election 2013 Survey<br/>
****************Polls End On May 3rd And Results Will Be Announced On May 4th ****************<br/></h3>
<h3 class="he"><marquee scrollamount="6" behavior="alternate">******Click On Below Links For Voting******</marquee></h3>
<p/>
 #{if pollList}
        <div>
        #{list items:pollList, as:'poll'}
            #{if poll.district=="karnataka"}
                        <a href="@{GutsyPolls.getPoll(poll.id)}" class="chief"><blink>Click Here To Vote For ${poll.title}</blink></a>
                        #{/if}
            #{/list}
            <h3 class="he">Mandya District Assembly Constituencies<span class="notice">(click on below links for voting)</span></h3>
            #{list items:pollList, as:'poll'}
            #{if poll.district=="Mandya"}
                        <a href="@{GutsyPolls.getPoll(poll.id)}" class="titles">Vote For ${poll.title} Assembly Constituency</a>
                        #{/if}
            #{/list}
             <h3 class="he">Bangalore Urban Assembly Constituencies<span class="notice">(click on below links for voting)</span></h3>
            #{list items:pollList, as:'poll'}
            #{if poll.district=="Bangalore Urban"}
                        <a href="@{GutsyPolls.getPoll(poll.id)}" class="titles">Vote For ${poll.title} Assembly Constituency</a>
                        #{/if}
            #{/list}
             <h3 class="he">Bangalore Rural Assembly Constituencies<span class="notice">(click on below links for voting)</span></h3>
            #{list items:pollList, as:'poll'}
           
            #{if poll.district=="Bangalore Rural"}
                        <a href="@{GutsyPolls.getPoll(poll.id)}" class="titles">Vote For ${poll.title} Assembly Constituency</a>
                        #{/if}
            #{/list}
            <h3 class="he">Mysore District Assembly Constituencies<span class="notice">(click on below links for voting)</span></h3>
            #{list items:pollList, as:'poll'}
            
            #{if poll.district=="Mysore"}
                        <a href="@{GutsyPolls.getPoll(poll.id)}" class="titles">Vote For ${poll.title} Assembly Constituency</a>
                        #{/if}
            #{/list}
            <h3 class="he">Ramanagar Assembly Constituencies<span class="notice">(click on below links for voting)</span></h3>
            #{list items:pollList, as:'poll'}
            
            #{if poll.district=="Ramanagar"}
                        <a href="@{GutsyPolls.getPoll(poll.id)}" class="titles">Vote For ${poll.title} Assembly Constituency</a>
                        #{/if}
            #{/list}
             <h3 class="he">Shimoga  District Assembly Constituencies<span class="notice">(click on below links for voting)</span></h3>
            #{list items:pollList, as:'poll'}
           
            #{if poll.district=="Shimoga"}
                        <a href="@{GutsyPolls.getPoll(poll.id)}" class="titles">Vote For ${poll.title} Assembly Constituency</a>
                        #{/if}
            #{/list}
            <h3 class="he">Hassan District Assembly Constituencies<span class="notice">(click on below links for voting)</span></h3>
            #{list items:pollList, as:'poll'}
            
            #{if poll.district=="Hassan"}
                        <a href="@{GutsyPolls.getPoll(poll.id)}" class="titles">Vote For ${poll.title} Assembly Constituency</a>
                        #{/if}
            #{/list}
            <h3 class="he">Udupi District Assembly Constituencies<span class="notice">(click on below links for voting)</span></h3>
            #{list items:pollList, as:'poll'}
            
            #{if poll.district=="Udupi"}
                        <a href="@{GutsyPolls.getPoll(poll.id)}" class="titles">Vote For ${poll.title} Assembly Constituency</a>
                        #{/if}
            #{/list}
             <h3 class="he">Tumkur District Assembly Constituencies<span class="notice">(click on below links for voting)</span></h3>
            #{list items:pollList, as:'poll'}
           
            #{if poll.district=="Tumkur"}
                        <a href="@{GutsyPolls.getPoll(poll.id)}" class="titles">Vote For ${poll.title} Assembly Constituency</a>
                        #{/if}
            #{/list}
             <h3 class="he">Belgaum District Assembly Constituencies<span class="notice">(click on below links for voting)</span></h3>
            #{list items:pollList, as:'poll'}
           
            #{if poll.district=="Belgaum"}
                        <a href="@{GutsyPolls.getPoll(poll.id)}" class="titles">Vote For ${poll.title} Assembly Constituency</a>
                        #{/if}
            #{/list}
            <h3 class="he">Bellary District Assembly Constituencies<span class="notice">(click on below links for voting)</span></h3>
            #{list items:pollList, as:'poll'}
            
            #{if poll.district=="Bellary"}
                        <a href="@{GutsyPolls.getPoll(poll.id)}" class="titles">Vote For ${poll.title} Assembly Constituency</a>
                        #{/if}
            #{/list}
            <h3 class="he">Bagalkote District Assembly Constituencies<span class="notice">(click on below links for voting)</span></h3>
            #{list items:pollList, as:'poll'}
            
            #{if poll.district=="Bagalkote"}
                        <a href="@{GutsyPolls.getPoll(poll.id)}" class="titles">Vote For ${poll.title} Assembly Constituency</a>
                        #{/if}
            #{/list}
             <h3 class="he">Bidar District Assembly Constituencies<span class="notice">(click on below links for voting)</span></h3>
            #{list items:pollList, as:'poll'}
           
            #{if poll.district=="Bidar"}
                        <a href="@{GutsyPolls.getPoll(poll.id)}" class="titles">Vote For ${poll.title} Assembly Constituency</a>
                        #{/if}
            #{/list}
            <h3 class="he">Bijapur District Assembly Constituencies<span class="notice">(click on below links for voting)</span></h3>
            #{list items:pollList, as:'poll'}
            
            #{if poll.district=="Bijapur"}
                        <a href="@{GutsyPolls.getPoll(poll.id)}" class="titles">Vote For ${poll.title} Assembly Constituency</a>
                        #{/if}
            #{/list}
            <h3 class="he">Chamrajnagar District Assembly Constituencies<span class="notice">(click on below links for voting)</span></h3>
            #{list items:pollList, as:'poll'}
            
            #{if poll.district=="Chamrajnagar"}
                        <a href="@{GutsyPolls.getPoll(poll.id)}" class="titles">Vote For ${poll.title} Assembly Constituency</a>
                        #{/if}
            #{/list}
            <h3 class="he">Chickmagalur District Assembly Constituencies<span class="notice">(click on below links for voting)</span></h3>
            #{list items:pollList, as:'poll'}
            
            #{if poll.district=="Chickmagalur"}
                        <a href="@{GutsyPolls.getPoll(poll.id)}" class="titles">Vote For ${poll.title} Assembly Constituency</a>
                        #{/if}
            #{/list}
             <h3 class="he">Chitradurga District Assembly Constituencies<span class="notice">(click on below links for voting)</span></h3>
            #{list items:pollList, as:'poll'}
           
            #{if poll.district=="Chitradurga"}
                        <a href="@{GutsyPolls.getPoll(poll.id)}" class="titles">Vote For ${poll.title} Assembly Constituency</a>
                        #{/if}
            #{/list}
             <h3 class="he">Chikballapura District Assembly Constituencies<span class="notice">(click on below links for voting)</span></h3>
            #{list items:pollList, as:'poll'}
           
            #{if poll.district=="Chikballapura"}
                        <a href="@{GutsyPolls.getPoll(poll.id)}" class="titles">Vote For ${poll.title} Assembly Constituency</a>
                        #{/if}
            #{/list}
            <h3 class="he">Davangere District Assembly Constituencies<span class="notice">(click on below links for voting)</span></h3>
            #{list items:pollList, as:'poll'}
            
            #{if poll.district=="Davangere"}
                        <a href="@{GutsyPolls.getPoll(poll.id)}" class="titles">Vote For ${poll.title} Assembly Constituency</a>
                        #{/if}
            #{/list}
            <h3 class="he">Dharwad District Assembly Constituencies<span class="notice">(click on below links for voting)</span></h3>
            #{list items:pollList, as:'poll'}
            
            #{if poll.district=="Dharwad"}
                        <a href="@{GutsyPolls.getPoll(poll.id)}" class="titles">Vote For ${poll.title} Assembly Constituency</a>
                        #{/if}
            #{/list}
             <h3 class="he">Gadag District Assembly Constituencies<span class="notice">(click on below links for voting)</span></h3>
            #{list items:pollList, as:'poll'}
           
            #{if poll.district=="Gadag"}
                        <a href="@{GutsyPolls.getPoll(poll.id)}" class="titles">Vote For ${poll.title} Assembly Constituency</a>
                        #{/if}
            #{/list}
            <h3 class="he">Gulbarga District Assembly Constituencies<span class="notice">(click on below links for voting)</span></h3>
            #{list items:pollList, as:'poll'}
            
            #{if poll.district=="Gulbarga"}
                        <a href="@{GutsyPolls.getPoll(poll.id)}" class="titles">Vote For ${poll.title} Assembly Constituency</a>
                        #{/if}
            #{/list}
             <h3 class="he">Yadagiri District Assembly Constituencies<span class="notice">(click on below links for voting)</span></h3>
            #{list items:pollList, as:'poll'}
           
            #{if poll.district=="Yadagiri"}
                        <a href="@{GutsyPolls.getPoll(poll.id)}" class="titles">Vote For ${poll.title} Assembly Constituency</a>
                        #{/if}
            #{/list}
            <h3 class="he">Haveri District Assembly Constituencies<span class="notice">(click on below links for voting)</span></h3>
            #{list items:pollList, as:'poll'}
            
            #{if poll.district=="Haveri"}
                        <a href="@{GutsyPolls.getPoll(poll.id)}" class="titles">Vote For ${poll.title} Assembly Constituency</a>
                        #{/if}
            #{/list}
            <h3 class="he">Kodagu District Assembly Constituencies<span class="notice">(click on below links for voting)</span></h3>
            #{list items:pollList, as:'poll'}
            
            #{if poll.district=="Kodagu"}
                        <a href="@{GutsyPolls.getPoll(poll.id)}" class="titles">Vote For ${poll.title} Assembly Constituency</a>
                        #{/if}
            #{/list}
             <h3 class="he">Kolar District Assembly Constituencies<span class="notice">(click on below links for voting)</span></h3>
            #{list items:pollList, as:'poll'}
           
            #{if poll.district=="Kolar"}
                        <a href="@{GutsyPolls.getPoll(poll.id)}" class="titles">Vote For ${poll.title} Assembly Constituency</a>
                        #{/if}
            #{/list}
            <h3 class="he">Koppal District Assembly Constituencies<span class="notice">(click on below links for voting)</span></h3>
            #{list items:pollList, as:'poll'}
            
            #{if poll.district=="Koppal"}
                        <a href="@{GutsyPolls.getPoll(poll.id)}" class="titles">Vote For ${poll.title} Assembly Constituency</a>
                        #{/if}
            #{/list}
             <h3 class="he">Raichur District Assembly Constituencies<span class="notice">(click on below links for voting)</span></h3>
            #{list items:pollList, as:'poll'}
           
            #{if poll.district=="Raichur"}
                        <a href="@{GutsyPolls.getPoll(poll.id)}" class="titles">Vote For ${poll.title} Assembly Constituency</a>
                        #{/if}
            #{/list}
            <h3 class="he">Dakshina Kannada Assembly Constituencies<span class="notice">(click on below links for voting)</span></h3>
            #{list items:pollList, as:'poll'}
            
            #{if poll.district=="Dakshina Kannada"}
                        <a href="@{GutsyPolls.getPoll(poll.id)}" class="titles">Vote For ${poll.title} Assembly Constituency</a>
                        #{/if}
            #{/list}
             <h3 class="he">Uttar kannada Assembly Constituencies<span class="notice">(click on below links for voting)</span></h3>
            #{list items:pollList, as:'poll'}
           
            #{if poll.district=="Uttar kannada"}
                        <a href="@{GutsyPolls.getPoll(poll.id)}" class="titles">Vote For ${poll.title} Assembly Constituency</a>
                        #{/if}
            #{/list}
        </div>
    #{/if}

