#{extends 'main.html' /}
#{set title:'Indian Constitution Basics' /}
#{set description: 'I feel that so many of us dont know the basics of our constitutional structure ,you can go through some basics of our constitution within few minutes in this section.'/}
#{set 'moreScripts'}
 #{googleAnalytics /}
#{/set}
 #{shareButtons /}
<div class="indianconstitution">
<h3 class="indianheading">INDIAN CONSTITUTION</h3></br>
 <div class="indiancontent">

 <h3>Hi Friends,</h3>

           <p> In our day to day life we are  busy with our work and we not even think of our responsibilities as a citizen of India.
while saying this  lot of questions and answers passes through my mind......</p>

<p>what do I know about our constitution?..................<span>Nothing.</span><br /> 
Am I interested in knowing our constitution?................<span>Yes desperately.</span><br />
Than what is the problem in knowing it?..............<span>It is vast and we are busy ,dont have that much time.</span><br />
Are we interested in it If someone make you know about our contitution in few minutes?.............<span>Yes Please.</span>
</p>
 <p>For crores of Indians who are in this delemma.........Here I am going to make you know atleast what our government and constitution exactly is and what it contains without taking much of your time .....</p>  

<p><u>Constitution</u><br/>Is a fundamental law of a country upon  which government of  a country is based.</p>

<p><u>The preamble of Indian constitution reads</u><br/>We the people of India,having solemly resolved to constitute India into a sovereign,socialist,secular,democratic,republic country to serve to all its citizens
justice,social,economic,political liberty of thought,expression,belief,faith and workship.
equality of status and of opportunity and to promote among them all fraternity assuring the dignity of all the individual and the unity and intergrity of the nation.</p>
<p>The word <u>sovereign</u> means that India is internally and externally free and not dependent upon any outside control</p>


<p><u>Fundamental rights</u><br />
1> The right to Equality.<br/>
2> The right to Freedom.<br/>
3> The right against Exploitation.<br/>
4> The right to freedom of religion.<br/>
5>Cultural and educational right and.<br/>
6>The right to constitutional remedies.</p>
<p>These fundamental rights gives confidence to the people by providing equal opportunity and protection from the law.</p>


<p><u>Fundamental duties</u><br/>

* To abide by the Constitution and respect its ideals and institutions, the National Flag and the National Anthem.<br/>

*	
To cherish and follow the noble ideals which inspired our national struggle for freedom.<br/>

*	
To uphold and protect the sovereignty, unity and integrity of India.<br/>

*	
To defend the country and render national service when called upon to do so.<br/>

*	
To promote harmony and the spirit of common brotherhood amongst all the people of India transcending religious, linguistic and regional or sectional diversities; to renounce practices derogatory to the dignity of women.<br/>

*	
To value and preserve the rich heritage of our composite culture.<br/>

*
To protect and improve the natural environment including forests, lakes, rivers and wild life, and to have compassion for living creatures.<br/>

*	
To develop the scientific temper, humanism and the spirit of inquiry and reform.<br/>

*
To safeguard public property and to abjure violence.<br/>

*	
To strive towards excellence in all spheres of individual and collective activity so that the nation constantly rises to higher levels of endeavor and achievement.</p>

<p><u>The union government, as India's central government is known, is divided into three distinct but interrelated branches</u><br/> * Legislative.<br/> * Executive.<br/> * Judicial.</p>

<p><u>Legislative</u></p>
<p><u><span>Our Parliament consists of two houses</span></u><br/> * The Lok Sabha <br/> * The Rajya Sabha<br/></p>

<p><u><span>Lok Sabha </span></u><br/>
 * House of the People.<br/>
 * The lower house.<br/>
 * Consists of 552 members with the term of 5 years.<br/>
 * It consists of representatives of the people.<br/>
 * The members of lok sabha are directly elected on the basis of universal adult franchise system during general elections.<br/>
 * The citizens who crossed the age of 18 years participate in the election as a voter.</p>
<p><u><span>Rajya Sabha </span></u><br/>
* Council of states.<br/>
* The upper house.<br/>
* Consists of 250 members with the term of 6 years,one third members retire after every 2 years<br/>
* Members are known as nominated members and are elected by states.<br/></p>


<p><u><span>State legislature</span></u><br/>

* The legislature of every state consists of the governor and one or two houses of the state legislature.<br/> 
* If the state has one house than the house is called Legislative assembly.<br/>
* If the state has two house than the houses are called Legislative assembly and Legislative council.<br/>
* States having both the houses are <span>Bihar,Karnataka,Jammu and Kashmir,Maharastra and UttarPradesh</span>.</p>

<p><u><span>The legislative assembly</span></u><br/>
* Called Vidhana Sabha.<br/>
* The lower house.<br/>
* Consists of representatives of the people.<br/>
* The members are directly elected on the basis of universal adult franchise system during general elections.<br/>
* The citizens who crossed the age of 18 years participate in the election as a voter.</p>

<p><u><span>The legislative council</span></u><br/>
* Called Vidhana Parishad.<br/>
* The upper house.<br/>
* Members are known as nominated members and are elected for the term of 6 years.<br/></p>


<p><u>The Executive branch</u><br/>* Is the part of government that has sole authority and responsibility for the daily administration of the state.<br/>
* The Constitution of India states that the Indian Executive is a major branch of the Parliamentary form of government.<br/>
* The President, Vice President, Council of Ministers, Governor and Attorney General of India are some of the prominent heads and government officials who play successful roles in the government.</p>


<p><u>Judiciary</u></p>

<p>* <span>Supreme court of India</span> is the Heighest and final judicial court of India. It consists of <span>chief justice</span> and number of other judges.<br/>

* The judicial system of India composed of the <span>High Court</span> next to the supreme court and the lower courts which are the subordinate to the high court.</p>



<p><u><span>Our State Judiciary Consists of</span></u><br/>
* High courts.<br/>
* Civil courts.<br/>
* Criminal courts.<br/>
* Revenue courts.<br/></p>  


<p><u>The President of India is responsible for making the following appointments.</u><br/>
* Governors of States.<br/>
* The Chief Justice, other judges of the Supreme Court and High Courts of India.<br/>
* The Attorney General.<br/>
* The Chief Election Commissioner and Election Commissioners.<br/>
* The Central Vigilance Commissioner and the Vigilance Commissioners.<br/>
* The President's Officer.<br/>
* The Comptroller and Auditor General.<br/>
* The Cabinet Secretary.<br/>
* The Chairman and other Members of the Union Public Service Commission.<br/>
* Ambassadors and High Commissioners to other countries.<br/></p>
                              
 </div>
 <hr class="horizontalline"/>
 <div class="comments">
        <h3 class="simpleheadings">
            ${simpleCommentList.size() ?: 'no'} 
            comment${simpleCommentList.size().pluralize()}
        </h3>
        
        #{list items:simpleCommentList, as:'comment'}
            <div class="comment">
                <div class="comment-metadata">
                    <span class="comment-author">By ${comment.author},</span>
                    <span class="comment-date">
                        ${comment.postedAt.format('dd MMM yy')}
                    </span>
                </div>
                <div class="comment-content">
                    <div class="about">Detail: </div>
                    ${comment.content.escape().nl2br()}
                </div>
            </div>
            #{if session.get("userid")}
          #{if 1==session.get("userid").toLong() }
            <div style="font-size: 10px;"><a href="@{IndianConstitution.deleteComment(comment.id)}">Delete</a></div>
            #{/if}
        #{/if}
        #{/list}
        
    </div>
     <hr class="horizontalline"/>
 <h3 class="simpleheadings">Post a comment</h3>
 #{form @IndianConstitution.postConstitutionComment()}
 #{ifErrors}
        <p class="error">
            All fields are required! and the code you entered should also match
        </p>
    #{/ifErrors}
    <p>
        <label for="author">Your name: </label>
        <input type="text" name="author" id="author" value="${flash.author}"/>
    </p>
    <p>
        <label for="content">Your message: </label>
        <textarea name="content" id="content">${flash.content}</textarea>
    </p>
     #{captcha rID:randomID /}
    <p>
        <input class="submit" type="submit" value="Submit your comment" />
    </p>
 #{/form}
  </div>