#{extends 'main.html' /}
#{set title:'Indian Constitution Basics|Criticize Politics|Gutsy Decision|Love Story|First Crush|Sad Story|Review Movies|My Blog|Contact Me' /}
#{set description: 'GutsyTown is a social utility where users can post their first crush,love stories ,sad stories.Users can also find the basics of Indian constitution.Users can review movies ,Criticize Politics,You can post your decisions on the given scenario assuming that you are the authority for the given scenario.Users can participate in Gutsy polls.Users will be awarded ranks based on their activities'/}
#{set 'moreScripts'}
 <script type="text/javascript">

    var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35258249-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
#{/set}

<ul>
    <li><a href="@{IndianConstitution.indianConstitution()}"><span>Indian Constitution</span></a></li>
    <li><a href="@{YouthRevolution.youthRevolution()}"><span>Criticize Politics</span></a></li>
   <li><a href="@{Decision.decision()}"><span>Gutsy Decision</span></a></li>
    <li><a href="@{SadStory.sadStory()}"><span>Your Sad Story</span></a></li>
   <li><a href="@{FirstCrush.firstCrush()}"><span>Your First Crush</span></a></li>
   <li><a href="@{LoveStory.loveStory()}"><span>Your Love Story</span></a></li>
   <li><a href="@{MovieReview.movieReview()}"><span>Review Movies</span></a></li>
   <li><a href="@{MyBlog.myBlog()}"><span>My Blog</span></a></li>
   <li><a href="@{GutsyPolls.gutsyPolls()}"><span>Gutsy Polls</span></a></li>
   <li><a href="@{Contact.contact()}"><span>Contact Me</span></a></li>
</ul>