<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <meta name="description" content="#{get 'description' /}"></meta>
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.jpg'}" />
        #{get 'moreStyles' /}
        <script src="@{'/public/javascripts/jquery-1.6.4.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
    <div id="fb-root"></div>
   <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <!-- main container for the website -->
<div id="maincontainer">
<!-- -----------------Header section--------------------- -->
     <div id="header"> 
      <img src="public/images/gutsylogo.png" alt="gutsy town" height="90px" width=25% />
       #{loginUI /}
     </div>
 <!-----------------menu section------------------------->
     <div class='menu'>
<ul>
   <li class='active '><a href="@{Application.index()}"><span>Indian Constitution</span></a></li>
    <li><a href="@{YouthRevolution.youthRevolution()}"><span>Criticize Politics</span></a></li>
   <li><a href="@{TalkFight.talkFight()}"><span>If You Are</span></a></li>
    <li><a href="@{SadStory.sadStory()}"><span>Your Sad Story</span></a></li>
   <li><a href="@{FirstCrush.firstCrush()}"><span>Your First Crush</span></a></li>
   <li><a href="@{LoveStory.loveStory()}"><span>Your Love Story</span></a></li>
   <li><a href="@{MovieReview.movieReview()}"><span>Review Movies</span></a></li>
   <li><a href="@{MyBlog.myBlog()}"><span>My Blog</span></a></li>
   <li><a href="@{GutsyPolls.gutsyPolls()}"><span>Gutsy Polls</span></a></li>
   <li><a href="@{Contact.contact()}"><span>Contact Me</span></a></li>
</ul>
</div>
<!-----------------Content section------------------------->
     <div id="contentwrapper">
         <div id="contentcolumn">
                #{doLayout /}
          </div>
     </div>
 <!--recent post column  -->
    #{recentPosts /}
<!--advertisements column  -->
 #{rightColumn /}
<!--footer area  -->
   <div id="footer">gutsytown.com | Chamundeshwari Krupe</div>

</div>
</body>
</html>